.post-container {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  max-width: 650px;
  border-radius: 8px;
  align-items: center;
  margin-left: 60vh;
}

.like-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 6vh;
  margin-top: 10px;
}

.comment-section {
  margin-top: 10px;
}

.comment-input {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
  border-radius: 10px;
  margin-left: 2vh;
  height: 6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.comment-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2vh;
  height: 6vh;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-top: 5px;
}
