
body {
  margin: 0;
  /* background: linear-gradient(172deg, #6644ff 50%, #ff99dd 300%);
  */
  background: #172940; 
  font-family: "Euclid Circular A", "Poppins";
}

html,
body {
  height: 100%;
}

#frontimage {
  background-image: url("../public/frontpage_image.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
  margin-bottom: -220px;
}

#community {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 100px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-weight: 500;
  height: 55px;
  width: 400px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  /* transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* will-change: transform,opacity; */
}

#community:hover {
  background: #F6F9FE;
  color: #174ea6;
  transition: all 0.5s ease-in-out;
  /* transition: ease-out 0.5s; */
}

#community:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#community:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#community:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#community:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  height: 60px;
  width: 450px;

}

#community:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#community:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#community:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

section {
  display: flex;
}

#cards {
  background-image: url("../public/frontpage_image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#heading {
  padding: 10px;
  padding-bottom: 20px;
  color: white;
}

#aboutcard {
  /* box-shadow: 0 4px 8px 0 black; */
  transition: 0.5s;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 10px;
  text-align: justify;
  padding: 15px;
  width: 33.3%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

#aboutcard:hover {
  box-shadow: 10px 10px 10px rgba(255,255,255,0.6);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: rgb(235, 234, 234);
}

