<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member Joined Your Group</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #172940;
        }

        .email-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #a2b5cd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            margin-bottom: 20px;
        }

        .footer {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="header">
            <h2>New Member Joined Your Group!</h2>
        </div>

        <div class="content">
            <p>Dear [LeaderName],</p>

            <p>[UserName] has joined your group "[GroupName]". Here are some details about the new member:</p>

            <ul>
                <li><strong>User Name:</strong> [UserName]</li>
                <li><strong>Email:</strong> [UserEmail]</li>
                <li><strong>Additional Information:</strong> [AdditionalInfo]</li>
            </ul>

            <p>Welcome [UserName] to your group! If you have any questions or need further information, feel free to
                contact the new member.</p>

            <p>Best regards,<br>Grouplancer</p>
        </div>

        <div class="footer">
            <p>This is an automated email. Please do not reply to this message.</p>
        </div>
    </div>
</body>

</html>